VITE_API_URL="http://localhost:5000/api"
VITE_FIREBASE_API_KEY="Your - Firebase_ Key"
VITE_FIREBASE_AUTH_DOMAIN="raktsetu-.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://raktsetu--default-rtdb.asia-southeast1.firebasedatabase.app/"
VITE_FIREBASE_PROJECT_ID="raktsetu-533"
VITE_FIREBASE_MESSAGING_SENDER_ID="4066464148...."
VITE_FIREBASE_APP_ID="1:40664641487:web:6f3d2cb878dcae6d5b6cba,ndewkjd"
